@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

#main-div {
  background-color: purple;
  height: 100vh;
  width: 100vw;
}

#description {
  text-align: center;
  color: white;
  font-family: "Comic Sans MS";
}

#survey-form {
  background: rgba(53, 81, 92, 0.2);
  width: 33vw;
  margin : 0 auto;
}

h1 {
  text-align: center;
  font-family: Poppins;
  color: purple;
}

.top-label {
  display: block;
  font-family: "Comic Sans MS";
  text-align: center;
}

.choose-div {
  font-family: "Comic Sans MS";
  text-align: center;
  display: block;
}

.line-input {
  display: block;
  margin: 0 auto;
  width: 20vw;
}

button {
  display: block;
  margin: 0 auto;
}

body {
  background: url("https://farm3.staticflickr.com/2946/33107045414_f1b635aea6_k.jpg") no-repeat center center fixed;
  width: 100vw;
  height: auto;
  background-color: #cccccc;
}