header {
	font-size: 20px;
	font-weight: bold;
}

#title {
	font-size: 30px;
}

@media (min-width: 768px) {
	#navbar {
		position: fixed;
	}

	#main-doc {
		margin-left: 20vw;
		width: 75vw;
	}
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: black;
	font: 14px "Century Gothic", Futura, sans-serif;
}