@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

.background {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #FFF9F5;
   background-image: url("https://img.as-creation.com/s0/036564.jpg");
   background-position: center;
	justify-content: center;
   position: absolute;
   top: 0;
   left: 0;
}

#title {
   margin-top: -5px;
   color: white;
   font-family: "Libre Franklin";
}

#description {
   color: white;
   margin-top: -17px;
   font-size: 18px;
   font-family: "Libre Franklin";
}

.window {
   height: 600px;
   width: 900px;
   border-radius: 25px;
   background-color: black;
   display: flex;
   flex-direction: column;
   padding: 20px 20px 20px 20px;
   align-self: center;
   position: relative;
   text-align: center;
   
}

.heatmap-container {
   align-self: center;
   background-color: gray;
   border-radius: 25px;
   width: 900px;
   height: 525px;
}

.cell:hover {
   fill: blue;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: black;
	font: 14px "Century Gothic", Futura, sans-serif;
}