@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

#title {
   font-size: 40px;
   text-align: center;
   font-family: "IBM Plex Sans", sans-serif;
}

#description {
   font-size: 25px;
   text-align: center;
   font-family: "IBM Plex Sans", sans-serif;
}

#graphics-container {
   width: 950px;
   height: 650px;
   margin: auto;
   border: 1px solid black;
   margin-top: 45px;
   padding-top: 20px;
   padding-left: 25px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: black;
	font: 14px "Century Gothic", Futura, sans-serif;
}