#main {
	background-color: black;
}

#main {
	text-align: center;
}

#img-div {
	width: 500px;
	display: inline-block;
}

#image {
	max-width: 100%;
	margin: auto;
	display: block;
}

h1 {
	font-family: Lobster;
	color: white;
}

p {
	font-size: 12px;
	font-family: monospace;
	color: white;
}

#img-caption {
	color: green;
}